<!DOCTYPE html>

<html lang="en">
	<head>

				
		<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
		<style>.map {
				height: 400px;
				width: 100%;
			  }
		</style>
		<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>


		<title>Pray Together.UK</title>

		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		 <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138451713-1"></script>

		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-138451713-1');
		</script>

	</head>

	<body>
		<header style="overflow: hidden; position: fixed; top: 0; width: 100%; height:50px; background:#d3d3d3;">
			<center>
				<h6>
					<a href="/about">Pray Together</a>: a SIMPLER invitation to encounter Jesus.<BR> 
					<a href="/simpler/scripture"><strong>S</strong>cripture</a>. <a href="/simpler/information"><strong>I</strong>nformation</a>. <a href="/simpler/music"><strong>M</strong>usic</a>. <a href="/simpler/pattern"><strong>P</strong>attern</a>. <a href="/simpler/lists"><strong>L</strong>ists</a>. <a href="/simpler/eachother"><strong>E</strong>ach Other</a>. <a href="/simpler/rhythms"><strong>R</strong>hythm</a>.
				 </h6>
		</header>

		<center> 
		
		<div class="jumbotron text-center">
			<h1>
				<a href="/">PRAY* TOGETHER**.</a>
			</h1>
			
			<h5>
				*Because <a href="https://www.biblegateway.com/passage/?search=Mt.9%3A35-38&version=ESV">Matthew 9:35-38</a>. **Because <a href="https://www.biblegateway.com/passage/?search=Mt.18%3A18-20&version=ESV">Matthew 18:18-20</a>
			</h5>					
		</div>
		
		<div >
			<center>

				{{ content }}

			</center>
		</div> <!-- /container -->

		<BR><BR><BR><BR><BR>
		<footer style="  overflow: hidden; position: fixed; bottom: 0; width: 100%; height:90px; background:#fff">
			<center>   
				<!-- Begin Mailchimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
					/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">
				<form action="https://praytogether.us18.list-manage.com/subscribe/post?u=f437ed2a9a4a34ae368086224&amp;id=dd8323aaf8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Stay Connected on <a href="https://chat.whatsapp.com/Gb7Uld7Q4TVDLu7PdBa2Fp">WhatsApp</a> or by Email:</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f437ed2a9a4a34ae368086224_dd8323aaf8" tabindex="-1" value=""></div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					</div>
				</form>
				</div>

				<!--End mc_embed_signup-->
   
			</center>
		</footer>
	</body>
</html>
